*{
    margin: 0;
    padding: 0;
}
//variables
$colorScheme: (
    primary: #285e1d,
    accent: #28a745,
    white: #fff,
    black: #000,
    faded: #868e96,
    boxBG: #E1EAD0
);
$fontScheme: (
    saira-extra: 'Saira Extra Condensed',
    open-sans: 'Open Sans'
);
$breakPoints:(
    small: 22.375em,
    small-2: 27.313em,
    small-3: 33.688em,
    med:46.8em,
    xl: 60em,
    xxl: 67em,
    xxxl: 80.750em,
    super-xl: 92.188em    
);
//functions
@function bp($bp-name){
    @return map-get($breakPoints, $bp-name)
}

@function color($color-name){
    @return map-get($colorScheme, $color-name)
}
@function font($font-name){
    @return map-get($fontScheme, $font-name)
}
//main css
body{

    section, header{
        font-family: font(open-sans);
        color: color(primary);
    }
}
nav {
    background-color: color(primary);
    position: fixed;   
    top: 0;
    padding-top: .8em;
    padding-bottom: 1em;
    width: 100%;
    height: 3em;
    z-index: 1;
    img{
        border-radius: 50%;
        width: 3.0rem;
        height: 3.0rem;
        border: 0.1em solid fade-out($color: color(white), $amount: 0.8);
    }
    img:hover{
        width: 2.8em;
        height: 2.8em;
        border: 0.2em solid fade-in($color: color(white), $amount: 0.5);
    }
    ul{
        display: flex;
        flex-grow: 1;
        width: 100%;
        list-style: none;
        li{
            width: 100%;
            text-align: center;
        }
        
    }
}
main{
    position: relative;
    padding-top: 6em;
    width:100%;
    strong{
        color: color(primary);
    }
    h1{
      font-size: 3em;  
      line-height: 1em;
      color: color(black);
      text-align: center;
      font-family: font(saira-extra);
    }
    .subheading{
        text-align: center;
        line-height: 0.9em;
        font-size: 1.14em;
        padding-top: .5em;
    }
    p{
        font-family: font(open-sans);
        text-align: justify;
        color: color(faded);
        line-height: 1.3em;
        padding-top: 1em;
        padding-right: 1em;
        padding-left: 1em;
    }
    section{
        text-align: center;
        ul{
            list-style: none;
        }
        h2{
            text-align: center;
            padding-top: 4em;
            padding-bottom: 1em;
        }
    }

    .skill-section{
        display: inline-grid;
        grid-template-rows: repeate(3, 1fr);
        grid-template-columns: 50% 50%;
        grid-gap: 0.5em 0.5em;
        text-align: left;
        padding-top:1.5em;

        .skills-bg{
            background-color: color(primary);
        }
            h3{
                text-align: center;
                padding-right: 0.4em;
            }
            ul{              
                border: 1px solid color(faded);
                border-radius: 0.2em;
                background-color: lightgray; 
                padding-bottom: 0.4em;
                li{
                    font-family: font(open-sans);
                    padding-left: 0.4em;
                    color: color(black);
                    text-decoration: underline;
                                       
                }
            }  
            ul:hover{            
                border: 1px solid color(black);
                border-radius: 0.2em;
            }
    }

    .social-icons{
        li{
            list-style: none;
            display: inline-flex;
            margin: 2.5em auto auto;
        }
        img{
            width: 2em;
            height: 2em;
        }
    }
}

#dev-icon-list{
    width: 100%;
    padding-top: 2em;
    li{
        list-style: none;
        display: inline-flex;
        margin: 1em auto auto;
    }
    img{
        width: 2em;
        height: 2em;
    }
}

.divider-line{
    width: 90%;
    height: 0.4em;
    margin-left: 5%;
    border-bottom: 0.15em solid color(accent);
    position: absolute;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.resume-info{
    ul{
        list-style: square;
        text-align: left;
        padding-top:0.5em;
    }

    h3, h4{
        text-align: left;
        color: color(black);
        padding-top: 0.5em;
        padding-left: 0.6em;

    }
    h4{
        color: color(faded);
        padding-left: 0.7em;
    }

    li{
        padding-top: 0.2em;
       margin-left: 10%;
       padding-right: 1em;
    }
}
.extra-padding{
    padding-bottom: 3em;
}

@media all and (min-width: bp(small)){
    .skill-section{
        padding-right: 0.5em;
    }

}

@media all and (min-width: bp(small-2)){
    main{
        .subheading{
            text-align: center;
            line-height: 0.9em;
            font-size: 1.14em;
            padding-top: .5em;
            padding-left: 0.8em;
            padding-right: 0.8em;

        }
    }
    .skill-section {
        li{
            padding-right: 0.4em;
        }
    }
}

@media all and (min-width: bp(small-3)){
    main{
        h1{
            font-size:5em;
        }
        .subheading{
            font-size: 1.8em;
        }
        P{
            font-size: 1.2em;
        }
        .social-icons{
            img{
                width: 3rem;
                height: 3rem;
            }
        }
        section{
            h2{
                font-size: 2.5em;
                padding-top: 3em;
                padding-bottom: 1em;
            }
        }
    }
    #dev-icon-list{
        width: 80%;
        padding-left: 10%;
        li{
            margin: 1.5em auto auto;
        }
        img{
            width: 2.5em;
            height: 2.5em;
        }
    }
    
}
@media all and (min-width: bp(med)){
    main{
        .skill-section{
            h3{
                font-size: 1.5em;
            }
            li{
                font-size: 1.2em;
            }
        }
    }
    .resume-info{
        h4{
            font-size: 1.2em;
        }
        h3{
            font-size: 1.5em;
        }
        li{
            font-size: 1.1em;
        }
    }
}
@media all and (min-width: bp(xl)){
    nav{
        width: 10%;
        height: 100%;
        img{
            border-radius: 50%;
            width: 4.0rem;
            height: 4.0rem;
            border: 0.1em solid fade-out($color: color(white), $amount: 0.8);
        }
        img:hover{
            width: 3.8em;
            height: 3.8em;
            border: 0.2em solid fade-in($color: color(white), $amount: 0.5);
        }
        ul{
            padding-top: 6em;
            padding-left: 15%;
            flex-direction: column;
            width: 10%;
        }
    }
    main{
        padding-left: 10%;
        width:90%;
        p{
            padding-left: 2em;
            padding-right: 2em;
        }
    }
    .resume-info{
        h3, h4{
            padding-left: 2em;
        }
        h4{
            padding-left: 2.5em;
        }
    }
    .divider-line{
        width: 80%;
    }
}
@media all and (min-width: bp(xxl)){
    nav{
        width: 15%;
        img{
            width: 6.5em;
            height: 6.5em;
        }
        img:hover{
            width: 6.3em;
            height: 6.3em;
        }
        ul{
            padding-left: 18%;
            width: 15%;
        }
    }
    main{
        padding-top: 3em;
        padding-left: 15%;
        width: 85%;
        P{
            padding-left: 2.5em;
            padding-right: 2.5em;
        }
    }
    .divider-line{
        width: 75%;
    }
    .resume-info{
        h3, h4{
            padding-left: 2.7em;
        }
        h4{
            padding-left: 3.4em;
        }
    }
    #dev-icon-list{
        width: 75%;
        padding-left: 15%;
        li{
            margin: 1.5em auto auto;
        }
        img{
            width: 3.5em;
            height: 3.5em;
        }
    }
}
@media all and (min-width: bp(xxxl)){
    nav{
        img{
            width: 7.4em;
            height: 7.4em;
        }
        img:hover{
            width: 7.2em;
            height: 7.2em;
        }
    }
}
@media all and (min-width: bp(super-xl)){
    nav{
        width: 15em;
        img{
            width: 10em;
            height: 10em;
        }
        img:hover{
            width: 9.8em;
            height: 9.8em;
        }
    }
    main{
        h1{
            font-size:8em;
        }
        .subheading{
            font-size: 2.5em;
        }
        P{
            font-size: 1.8em;
            padding-left: 6%;
            padding-right: 6%;
        }
        .social-icons{
            img{
                width: 4rem;
                height: 4rem;
            }
        }
        section{
            h2{
                font-size: 4em;
                padding-top: 3em;
                padding-bottom: 1em;
            }
        }
        .skill-section{
            h3{
                font-size: 1.8em;
            }
            ul{
                li{
                    font-size: 1.8em;
                    padding-left: 1em;
                }
            }
        }
    }
    .resume-info{
        h3, h4{
            padding-left: 6%;
        }
        h4{
            padding-left: 5.8%;
        }
        li{
            font-size: 1.4em;
            padding-right: 8%;
        }
    }
    #dev-icon-list{
        ul{
            padding-right: 8%;
        }
        li{
            list-style: none;
            display: inline-flex;
            margin: 2em auto auto;
        }
        img{
            width: 5em;
            height: 5em;
        }
    }
}
